* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    font-family: sans-serif, 'roboto';
    background-color: #F6F5ED;
}

.up {
    margin-top: 50px;
}

.ch {
    font-family: span, serif;
    font-weight: 400;
    font-size: 14px;
}

.nav1 {

    border-bottom: 1px solid #A5A6AA;
}

.btn {
    border-radius: 1px;
    /* margin-left: 81px; */
    padding: 13px 40px;
    background: rgb(192, 154, 90);
    color: white;
}

.num {
    font-size: 22px;
    font-weight: 400;
}

.img {
    object-fit: cover;
}

.bag {

    float: right;
}

.offer h2 {
    line-height: 1.05em;
}

.phn {
    padding: 17px 20px;
    background: #000;
}

.spn span {
    text-decoration: line-through;
}

.pack {

    font-weight: 300;
    word-wrap: break-word;
    font-size: 57px;
    font-family: span, serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.15em;
    margin-bottom: 0.38em
}


.card img:hover {
    transform: scale(1.3);
    transform-origin: 50% 50%;
}


.john {
    position: relative;
}

.card {
    overflow: hidden;
    display: block;
    transition: transform .8s;
}


.div {
    margin-right: 10%;
    margin-left: 10%;
}

.thumbnail {
    position: relative;
}

.thumbnail:hover {
    opacity: 0.60;
}

strong {
    position: absolute;
    bottom: 10%;
    left: 33px;
    color: white;
    font-size: 22px;
}

.cards2 {

    margin-bottom: 10px;

}

.images {
    object-fit: cover;
    margin-left: 50%;
    z-index: -1;
    float: right;
}



.pictures {
    position: relative;
}

.bt {
    border: none;
    /* height: 60px; */
    /* width: 197px; */
    font-size: 20px;
    border-radius: 1px;
    /* margin-left: 81px; */
    padding: 13px 60px;
    background-color: rgb(119, 50, 53);
    color: white;
}

.box {
    height: 60px;
    width: 60px;
    border: none;
    background-color: rgb(245, 245, 237);
    /* padding: 16px 25px; */
}

.box i {
    color: black;
}


.sec {
    /* overflow: hidden; */
    top: 20%;
    right: 20%;
    position: absolute;
    bottom: 10%;

}

.store {
    font-family: serif, span;
    overflow: hidden;
    font-weight: 300;
    font-size: 57px;
}

.weight {
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
}

Q {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.k {
    font-family: "DM Sans" sans-serif;
    font-size: 17px;
    font-weight: 400;
    /* line-height: 28.016px; */
}

.font {
    font-family: "DM Sans" sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.f {
    font-family: span, serif;
    font-size: 19px;
    font-weight: 600;
}

.c {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.left {
    /* position: relative; */
    margin-top: 104px;
    margin-bottom: 100px;
}

.nnum {
    position: absolute;
}


.lower-button {
    position: relative;
}

.left-foot {
    /* position: relative; */
    margin-top: 90px;

}

.ico1 {
    width: 33%;
}

.social {
    margin-left: 220px;
    margin-top: 95px;
}

.long {
    font-family: 'DM Sans', serif;
    font-size: 64px;
    font-weight: 800;
}


.heading {
    font-family: span, serif;
    /* float: right; */
    font-size: 47px;
    font-weight: 300;
}

.class {

    height: 24px;
    width: 50px;
    background: rgb(192, 154, 90);
}

ul {
    list-style-type: none;
}

li {
    margin-left: 10px;
    font-size: 17px;
    padding: 10px;
}


.right-foot {
    margin-top: 40px;
}

.ph {
    padding: 10px 35px 10px 27px;
}


.foooot {
    margin-left: 108px;
}

.relate {
    position: relative;
}

.carousel-caption {
    position: absolute;
    bottom: 120px;
}

.top {
    font-weight: 900;
    font-size: 60px;
    font-family: 'DM Sans', serif;
}


.resize {
    font-size: 22px;
    font-weight: 400;
}

.Browse {

    border: none;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: rgb(119, 50, 53);
    padding: 15px 52px;

}

.tex {
    position: absolute;
    left: 100px;
    bottom: 37px;
    /* border: 1px solid black; */

}

.col1 {
    /* border: 1px solid black; */
    position: relative;
}

.star span {
    padding: 3px;
}

.star {

    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.phn {
    display: inline;
}

.text-startt {
    display: inline;
}


.checked {


    color: orange;


}

.discount {
    padding: 4px 20px;
    /* bottom: 467px; */
    position: absolute;


    /* background: rgb(192, 154, 90); */
}

.tee {
    margin-top: 100px;
}

.bot {
    position: relative;
}

.test {
    padding-top: 51px;
}

.chooseus {
    padding-top: 75px;
    margin-top: 150px;
}

.card-img-bottom {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 10px auto;
}

.imh {
    position: absolute;
    top: 20%;
}

.sear {
    margin-right: 150px;

}

/* Responsiveness Portion */

@media (max-width: 576px) {

    /* Make text smaller on small screens */
    .bordr li {

        background-color: inherit;
        padding: 8px 12px;
        border: 2px solid rgb(0, 0, 0);
        /* Adjust the size as needed */
    }
}

@media (max-width: 576px) {

    /* Make text smaller on small screens */
    .navbar {

        padding-right: 8px;

    }
}

@media (max-width: 1488px) {

    #img {
        display: none;
        /* border-bottom: 1px solid rgba(40, 33, 33, 0.122); */
    }

}

@media (max-width: 576px) {

    /* Make text smaller on small screens */
    #img {
        display: block;
        object-fit: cover;
        /* Adjust the size as needed */
    }
}

@media (max-width: 576px) {

    /* Make text smaller on small screens */
    .pack {
        font-size: 14px;
        /* Adjust the size as needed */
    }
}

@media (max-width: 576px) {

    /* Make text smaller on small screens */
    .heading,
    .store {
        font-size: 17px;
        /* Adjust the size as needed */
    }
}


@media (max-width: 576px) {

    /* Make text smaller on small screens */
    .bn {
        display: none;
        /* Adjust the size as needed */
    }
}

@media (max-width: 576px) {

    /* Make text smaller on small screens */
    .bn {
        display: none;
        /* Adjust the size as needed */
    }
}

@media (max-width: 576px) {

    /* Make text smaller on small screens */
    .bt {
        margin-bottom: 20px;
        width: 100%;
        /* Adjust the size as needed */
    }
}

@media (max-width: 576px) {

    .phone2 {
        margin-right: 20px;
    }
}

@media (max-width: 576px) {

    .sear {
        display: none;
    }

    .image {
        visibility: visible;
    }

}

@media (max-width: 576px) {

    .card-text {
        justify-content: center;
    }

}

@media (max-width: 1500px) {

    .col1 {
        border-right: 1px solid rgba(40, 33, 33, 0.122);
        /* border-bottom: 1px solid rgba(40, 33, 33, 0.122); */
    }

}

@media (max-width: 576px) {

    .col1 {
        border-right: none;
        border-bottom: 1px solid rgba(40, 33, 33, 0.122);
    }

}

@media screen and (max-width: 600px) {
    .navbar-nav .image {
        display: none;
        /* Stack items vertically on smaller screens */
    }
}